@font-face {
    font-family: rejouice;
    src: url(./Rejouice-Headline.ttf);
}

* {
    margin: 0;
    padding: 0;
    font-family: rejouice;
    box-sizing: border-box;
}

#page1{
    width: 100%;
    height: 100vh;
    background-color: whitesmoke;
    position: relative;
    padding: 2vw 4vw;
}

#header{
    width: 100%;
    /* background-color: purple; */
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#logo img{
    height: 2vw;
}

#mymenu ul{
    display: flex;
    align-items: center;
    list-style: none;
    color: #fff;
}

#mymenu a{
    color: #000;
    font-size: 1.4vw;
    text-decoration: none;
}

#mymenu li{
    padding: 0 1vw;
}

#login a{
    color: #fff;
    font-size: 1.2vw;
    text-decoration: none;
    background-color: #4E0FEA;
    border-radius: 10px;
    padding: 10px 30px;
}

.center{
    width: 100%;
    height: 100%;
    /* background-color: red; */
  display: flex;
  align-items: center;
}

.left{
    width: 50%;
    height: 50vh;
    /* background-color: purple; */
    padding: 2vw 4vw;
}
.left h1{
    font-size: 3.4vw;
}
.left p{
    font-size: 1.22vw;
    padding: 2vw 0;
}
/* .left a{
   color: #fff;
   text-decoration: none;
   font-size: 1.2vw;
   background-color: #4E0FEA;
   padding: 12px 30px;
   border-radius: 10px;
} */

.right{
    width: 50%;
    height: 50vh;
    /* background-color: plum; */
}

.right img{
    width: 100%;
    height: 100%;
    object-fit: contain;
}

#page2{
    width: 100%;
    height: 100vh;
    background-color: red;
}